wendover-weather-alert.n8n.json
{
  "name": "Wendover Weather Alert System",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup checklist\n1. Open **Config** below and set:\n   - `firebaseBaseUrl` \u2192 your Firebase Realtime Database URL (already set to your project)\n   - `firebaseAuth` \u2192 your DB secret / auth token (leave \"\" only if your write rules are public \u2014 not recommended)\n   - `fromEmail` \u2192 your iCloud address, e.g. `yourname@icloud.com`\n2. Recipients are already set to Kendrick.uhles@cawgcadets.org and Maverick.mcnealy@utwg.cap.gov \u2014 edit in **Config** if needed.\n3. Create an SMTP credential named **iCloud SMTP** (Credentials \u2192 Add Credential \u2192 SMTP):\n   - Host: `smtp.mail.me.com`\n   - Port: `587`\n   - SSL/TLS: STARTTLS (not SSL)\n   - User: your full iCloud address\n   - Password: an **app-specific password** from appleid.apple.com \u2192 Sign-In and Security \u2192 App-Specific Passwords (requires 2FA on your Apple ID)\n4. Open the **Send Zone Change Email** node and attach the iCloud SMTP credential you just created.\n5. Activate the workflow. It polls every 10 minutes.\n6. First run only initializes `status/zone` in Firebase \u2014 no email is sent until a *second* run detects an actual zone change.",
        "height": 460,
        "width": 380
      },
      "id": "a1111111-0000-4000-8000-000000000001",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "a1111111-0000-4000-8000-000000000002",
      "name": "Schedule Trigger (every 10 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -180,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "lat",
              "type": "number",
              "value": 40.7186
            },
            {
              "id": "c2",
              "name": "lon",
              "type": "number",
              "value": -114.0308
            },
            {
              "id": "c3",
              "name": "stationId",
              "type": "string",
              "value": "KENV"
            },
            {
              "id": "c4",
              "name": "firebaseBaseUrl",
              "type": "string",
              "value": "https://temperature-alerting-default-rtdb.firebaseio.com"
            },
            {
              "id": "c5",
              "name": "firebaseAuth",
              "type": "string",
              "value": "REPLACE-WITH-FIREBASE-DB-SECRET-OR-LEAVE-BLANK"
            },
            {
              "id": "c7",
              "name": "fromEmail",
              "type": "string",
              "value": "REPLACE-WITH-YOUR-ICLOUD-ADDRESS@icloud.com"
            },
            {
              "id": "c8",
              "name": "recipient1",
              "type": "string",
              "value": "Kendrick.uhles@cawgcadets.org"
            },
            {
              "id": "c9",
              "name": "recipient2",
              "type": "string",
              "value": "Maverick.mcnealy@utwg.cap.gov"
            }
          ]
        },
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.weather.gov/stations/{{$json.stationId}}/observations/latest",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/geo+json"
              },
              {
                "name": "User-Agent",
                "value": "WendoverWeatherAlertSystem (contact: maverick.mcnealy@utwg.cap.gov)"
              }
            ]
          }
        }
      },
      "id": "a1111111-0000-4000-8000-000000000004",
      "name": "Get NOAA Observation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{$('Config').first().json.lat}}&longitude={{$('Config').first().json.lon}}&current=uv_index&timezone=auto",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000005",
      "name": "Get Open-Meteo UV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pull in the NOAA observation, the Open-Meteo UV response (this node's input),\n// and the shared Config values.\nconst obsRoot = $('Get NOAA Observation').first().json;\nconst obs = (obsRoot && obsRoot.properties) ? obsRoot.properties : {};\nconst uvData = $input.first().json;\nconst config = $('Config').first().json;\n\n// ---- Raw NOAA readings (do not alter) ----\nconst tempC = (obs.temperature && obs.temperature.value != null) ? obs.temperature.value : null;\nconst tempF = tempC !== null ? (tempC * 9 / 5 + 32) : null;\n\nconst rh = (obs.relativeHumidity && obs.relativeHumidity.value != null) ? obs.relativeHumidity.value : null;\n\nconst windKmh = (obs.windSpeed && obs.windSpeed.value != null) ? obs.windSpeed.value : null;\nconst windMph = windKmh !== null ? (windKmh * 0.621371) : null;\n\nconst condition = obs.textDescription || 'Unknown';\n\n// ---- NOAA Heat Index (Rothfusz regression), used when T >= 80F and humidity is available ----\nfunction calcHeatIndex(T, RH) {\n  if (T === null || RH === null || T < 80) return null;\n  let HI = -42.379 + 2.04901523 * T + 10.14333127 * RH - 0.22475541 * T * RH\n    - 0.00683783 * T * T - 0.05481717 * RH * RH + 0.00122874 * T * T * RH\n    + 0.00085282 * T * RH * RH - 0.00000199 * T * T * RH * RH;\n  if (RH < 13 && T >= 80 && T <= 112) {\n    HI -= ((13 - RH) / 4) * Math.sqrt((17 - Math.abs(T - 95)) / 17);\n  } else if (RH > 85 && T >= 80 && T <= 87) {\n    HI += ((RH - 85) / 10) * ((87 - T) / 5);\n  }\n  return Math.round(HI * 10) / 10;\n}\n\n// ---- NWS Wind Chill (2001 formula), used when T <= 50F and wind >= 3 mph ----\nfunction calcWindChill(T, V) {\n  if (T === null || V === null || T > 50 || V < 3) return null;\n  const WC = 35.74 + 0.6215 * T - 35.75 * Math.pow(V, 0.16) + 0.4275 * T * Math.pow(V, 0.16);\n  return Math.round(WC * 10) / 10;\n}\n\nconst heatIndex = calcHeatIndex(tempF, rh);\nconst windChill = calcWindChill(tempF, windMph);\n\n// ---- Feels Like: Heat Index > Wind Chill > Actual Temp ----\nlet feelsLike;\nif (heatIndex !== null) feelsLike = heatIndex;\nelse if (windChill !== null) feelsLike = windChill;\nelse feelsLike = tempF;\n\nconst riskValue = feelsLike !== null ? Math.round(feelsLike * 10) / 10 : null;\n\n// ---- Zone ----\nlet zone = 'UNKNOWN';\nif (riskValue !== null) {\n  if (riskValue <= 90) zone = 'GREEN';\n  else if (riskValue <= 103) zone = 'YELLOW';\n  else if (riskValue <= 115) zone = 'RED';\n  else zone = 'BLACK';\n}\n\n// ---- UV (Open-Meteo, supplemental only) ----\nconst uv = (uvData && uvData.current && uvData.current.uv_index != null) ? uvData.current.uv_index : null;\nfunction uvCategory(v) {\n  if (v === null) return 'Unknown';\n  if (v < 3) return 'Low';\n  if (v < 6) return 'Moderate';\n  if (v < 8) return 'High';\n  if (v < 11) return 'Very High';\n  return 'Extreme';\n}\n\nreturn [{\n  json: {\n    temperature: tempF !== null ? Math.round(tempF * 10) / 10 : null,\n    feelsLike: feelsLike !== null ? Math.round(feelsLike * 10) / 10 : null,\n    heatIndex,\n    windChill,\n    humidity: rh !== null ? Math.round(rh * 10) / 10 : null,\n    wind: windMph !== null ? Math.round(windMph * 10) / 10 : null,\n    condition,\n    uv,\n    uvCategory: uvCategory(uv),\n    riskValue,\n    zone,\n    updated: new Date().toISOString(),\n    firebaseBaseUrl: config.firebaseBaseUrl,\n    firebaseAuth: config.firebaseAuth,\n    resendApiKey: config.resendApiKey,\n    fromEmail: config.fromEmail,\n    recipient1: config.recipient1,\n    recipient2: config.recipient2\n  }\n}];\n"
      },
      "id": "a1111111-0000-4000-8000-000000000006",
      "name": "Calculate Feels Like & Risk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$json.firebaseBaseUrl}}/status/zone.json{{$json.firebaseAuth ? ('?auth=' + $json.firebaseAuth) : ''}}",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000007",
      "name": "Get Previous Zone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// $input here is the raw previous-zone value read from Firebase (a plain string, or null on first run).\nconst current = $('Calculate Feels Like & Risk').first().json;\nlet previousZone = $input.first().json;\n\n// The RTDB REST API returns the raw leaf value. If it ever comes back as an\n// object (e.g. someone wrote {zone: 'GREEN'} at this path), unwrap it safely.\nif (previousZone && typeof previousZone === 'object') {\n  previousZone = previousZone.zone || null;\n}\nif (typeof previousZone !== 'string') previousZone = null;\n\n// Only treat it as a \"change\" if we had a real previous value that differs.\n// This avoids firing a false alert on the very first run.\nconst zoneChanged = previousZone !== null && previousZone !== current.zone;\n\nreturn [{\n  json: {\n    ...current,\n    previousZone: previousZone || current.zone,\n    zoneChanged\n  }\n}];\n"
      },
      "id": "a1111111-0000-4000-8000-000000000008",
      "name": "Compare Zones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{$json.zoneChanged}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000009",
      "name": "Zone Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$json.fromEmail}}",
        "toEmail": "={{$json.recipient1}},{{$json.recipient2}}",
        "subject": "=Wendover Weather Alert: {{$json.previousZone}} -> {{$json.zone}}",
        "emailFormat": "html",
        "html": "=<h2>Wendover Weather Zone Change</h2><p><b>{{$json.previousZone}} &rarr; {{$json.zone}}</b></p><ul><li>Risk Value (Feels Like): {{$json.riskValue}}\u00b0F</li><li>Actual Temperature: {{$json.temperature}}\u00b0F</li><li>Heat Index: {{$json.heatIndex !== null && $json.heatIndex !== undefined ? $json.heatIndex + '\u00b0F' : 'n/a'}}</li><li>Wind Chill: {{$json.windChill !== null && $json.windChill !== undefined ? $json.windChill + '\u00b0F' : 'n/a'}}</li><li>Humidity: {{$json.humidity ?? 'n/a'}}%</li><li>Wind Speed: {{$json.wind}} mph</li><li>Condition: {{$json.condition}}</li><li>UV Index: {{$json.uv}} ({{$json.uvCategory}})</li><li>Updated: {{$json.updated}}</li></ul><p>Wendover Weather Alert System</p>",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000010",
      "name": "Send Zone Change Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1740,
        -140
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_AFTER_CREATING_CREDENTIAL",
          "name": "iCloud SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$json.firebaseBaseUrl}}/status.json{{$json.firebaseAuth ? ('?auth=' + $json.firebaseAuth) : ''}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ zone: $json.zone, previousZone: $json.previousZone, updated: $json.updated }) }}",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000011",
      "name": "Update Firebase Status (Changed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -140
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$json.firebaseBaseUrl}}/weather.json{{$json.firebaseAuth ? ('?auth=' + $json.firebaseAuth) : ''}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ temperature: $json.temperature, feelsLike: $json.feelsLike, heatIndex: $json.heatIndex, windChill: $json.windChill, humidity: $json.humidity, wind: $json.wind, condition: $json.condition, uv: $json.uv, uvCategory: $json.uvCategory, riskValue: $json.riskValue, zone: $json.zone, updated: $json.updated }) }}",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000012",
      "name": "Update Firebase Weather (Changed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.firebaseBaseUrl}}/history.json{{$json.firebaseAuth ? ('?auth=' + $json.firebaseAuth) : ''}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fromZone: $json.previousZone, toZone: $json.zone, riskValue: $json.riskValue, timestamp: $json.updated, emailSent: true }) }}",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000013",
      "name": "Log Alert History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        -140
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$json.firebaseBaseUrl}}/status.json{{$json.firebaseAuth ? ('?auth=' + $json.firebaseAuth) : ''}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ zone: $json.zone, previousZone: $json.previousZone, updated: $json.updated }) }}",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000014",
      "name": "Update Firebase Status (No Change)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        160
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$json.firebaseBaseUrl}}/weather.json{{$json.firebaseAuth ? ('?auth=' + $json.firebaseAuth) : ''}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ temperature: $json.temperature, feelsLike: $json.feelsLike, heatIndex: $json.heatIndex, windChill: $json.windChill, humidity: $json.humidity, wind: $json.wind, condition: $json.condition, uv: $json.uv, uvCategory: $json.uvCategory, riskValue: $json.riskValue, zone: $json.zone, updated: $json.updated }) }}",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000015",
      "name": "Update Firebase Weather (No Change)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        160
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (every 10 min)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get NOAA Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NOAA Observation": {
      "main": [
        [
          {
            "node": "Get Open-Meteo UV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Open-Meteo UV": {
      "main": [
        [
          {
            "node": "Calculate Feels Like & Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Feels Like & Risk": {
      "main": [
        [
          {
            "node": "Get Previous Zone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Zone": {
      "main": [
        [
          {
            "node": "Compare Zones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Zones": {
      "main": [
        [
          {
            "node": "Zone Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zone Changed?": {
      "main": [
        [
          {
            "node": "Send Zone Change Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Firebase Status (No Change)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Zone Change Email": {
      "main": [
        [
          {
            "node": "Update Firebase Status (Changed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Firebase Status (Changed)": {
      "main": [
        [
          {
            "node": "Update Firebase Weather (Changed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Firebase Weather (Changed)": {
      "main": [
        [
          {
            "node": "Log Alert History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Firebase Status (No Change)": {
      "main": [
        [
          {
            "node": "Update Firebase Weather (No Change)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}